<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.ssm.dao.AutomatPaymentMapper" >
  <resultMap id="BaseResultMap" type="com.cn.ssm.pojo.AutomatPayment" >
    <id column="autorec_id" property="autorecId" jdbcType="VARCHAR" />
    <result column="tel_id" property="telId" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="REAL" />
    <result column="autorec_time" property="autorecTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    autorec_id, tel_id, money, autorec_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cn.ssm.pojo.AutomatPaymentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from automatpayment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from automatpayment
    where autorec_id = #{autorecId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from automatpayment
    where autorec_id = #{autorecId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cn.ssm.pojo.AutomatPaymentExample" >
    delete from automatpayment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cn.ssm.pojo.AutomatPayment" >
    insert into automatpayment (autorec_id, tel_id, money, 
      autorec_time)
    values (#{autorecId,jdbcType=VARCHAR}, #{telId,jdbcType=VARCHAR}, #{money,jdbcType=REAL}, 
      #{autorecTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.ssm.pojo.AutomatPayment" >
    insert into automatpayment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="autorecId != null" >
        autorec_id,
      </if>
      <if test="telId != null" >
        tel_id,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="autorecTime != null" >
        autorec_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="autorecId != null" >
        #{autorecId,jdbcType=VARCHAR},
      </if>
      <if test="telId != null" >
        #{telId,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=REAL},
      </if>
      <if test="autorecTime != null" >
        #{autorecTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cn.ssm.pojo.AutomatPaymentExample" resultType="java.lang.Integer" >
    select count(*) from automatpayment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update automatpayment
    <set >
      <if test="record.autorecId != null" >
        autorec_id = #{record.autorecId,jdbcType=VARCHAR},
      </if>
      <if test="record.telId != null" >
        tel_id = #{record.telId,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null" >
        money = #{record.money,jdbcType=REAL},
      </if>
      <if test="record.autorecTime != null" >
        autorec_time = #{record.autorecTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update automatpayment
    set autorec_id = #{record.autorecId,jdbcType=VARCHAR},
      tel_id = #{record.telId,jdbcType=VARCHAR},
      money = #{record.money,jdbcType=REAL},
      autorec_time = #{record.autorecTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.ssm.pojo.AutomatPayment" >
    update automatpayment
    <set >
      <if test="telId != null" >
        tel_id = #{telId,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=REAL},
      </if>
      <if test="autorecTime != null" >
        autorec_time = #{autorecTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where autorec_id = #{autorecId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.ssm.pojo.AutomatPayment" >
    update automatpayment
    set tel_id = #{telId,jdbcType=VARCHAR},
      money = #{money,jdbcType=REAL},
      autorec_time = #{autorecTime,jdbcType=TIMESTAMP}
    where autorec_id = #{autorecId,jdbcType=VARCHAR}
  </update>
</mapper>